body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #eef2f7;
}

section {
    margin: 50px auto;
    padding: 20px;
    max-width: 700px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#results {
    margin-top: 20px;
    text-align: left;
}

.result-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.result-item a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.result-item a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}